@charset "utf-8";
/* CSS Document */

body, td, th, p {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  margin: 0;
  background-color: #fdfdfd;
  /* position:relative; */
}

ul, li {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  /* display: flex; */
}

#maincontent {
  min-height: 100%;
  background-color: #f3f3f3;
}

#footer {
  display: flex;
  flex-direction: column;
  background-color: #444;
  color: #aaa;
  font-size: 2rem;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */

.top-nav {
  width: 100vw;
  height: 80px;
  background-color: #252831;
  text-align: center;
}

.page-header {
  color: #fff;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  width: calc(50% - 80px);
  margin: 0;
  background-color: #eee;
  font-size: 17px;
  list-style: none;
}

/* Display list items side by side */

#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
  width: 100vw;
  height: 40vh;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 100vw;
  background-color: #3397DB;
}

.filter-options h2 {
  color: white;
  font-size: 2.4rem;
  font-weight: normal;
  line-height: 1;
}

.filter-options select {
  width: auto;
  height: 2.5vh;
  margin: 10px;
  padding: 0 10px;
  border: 1px solid #fff;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  letter-spacing: 0;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  display: grid;
  grid-gap: 2vw;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  list-style: outside none none;
  text-align: center;
}

#restaurants-list li {
  border: 2px solid #ccc;
  background-color: #fff;
  font-family: Arial, sans-serif;
  text-align: left;
}

#restaurants-list .restaurant-img {
  width: 100%;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 1rem;
}

#restaurants-list li a {
  border-bottom: 3px solid #eee;
  background-color: orange;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside header {
  z-index: 1000;
  width: 100vw;
}

.inside #map-container {
  position: fixed;
  top: 80px;
  right: 0;
  width: 50%;
  height: 87%;
  background: blue none repeat scroll 0 0;
}

.inside #map {
  width: 100vw;
  height: 100%;
  background-color: #ccc;
}

.inside #footer {
  position: absolute;
  bottom: 0;
  width: 50%;
}

#restaurant-name {
  margin: 15px 0 30px;
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.1;
  text-transform: uppercase;
}

#restaurant-img {
  width: 90%;
}

#restaurant-address {
  margin: 10px 0px;
  font-size: 12pt;
}

#restaurant-cuisine {
  width: 90%;
  margin: 0 0 20px;
  padding: 2px 0;
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
}

#restaurant-container, #reviews-container {
  /* padding: 140px 40px 30px; */
  width: 50%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #d9d9d9;
}

#reviews-container {
  /* padding: 30px 40px 80px; */
}

#reviews-container h2 {
  padding-bottom: 1pt;
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  display: block;
  /* padding: 0 20px 20px; */
  position: relative;
  width: 80vw;
  margin: 0;
  overflow: hidden;
  border: 2px solid #f3f3f3;
  background-color: #fff;
  list-style-type: none;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #666;
}
