@charset "utf-8";
/* CSS Document */

:root {
  --primary-color: #3e2723;
  --p-color-dark: #1b0000;
  --p-color-light: #6a4f4b;
  --secondary-color: #f5f5f5;
  --s-color-dark: #c2c2c2;
  --s-color-light: #fff;
}

body,
td,
th,
p {
  color: var(--p-color-dark);
  font-size: 16px;
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

ul,
li {
  color: var(--p-color-dark);
}

a {
  color: var(--s-color-light);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--secondary-color);
}

a img {
  border: none 0 #fff;
}

.skip-link {
  z-index: 100;
  position: absolute;
  top: -10000px;
  left: 0;
}

.skip-link:focus {
  top: 0;
}

.main-content {
  min-height: 100%;
  background-color: var(--p-color-light);
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--s-color-light);
  font-size: 1em;
  letter-spacing: 1vw;
}

/* ====================== Navigation ====================== */
.page-header,
.filter-results-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  background-color: var(--primary-color);
	color: var(--secondary-color);
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
}

.page-header {
  font-size: 1em;
  letter-spacing: .2em;
}

.filter-results-header {
  font-size: 1em;
}
.restaurant-name-header {
  background-color: var(--secondary-color);
	color: var(--p-color-dark);
  font-family: 'Cabin', sans-serif;
}
#breadcrumb {
	display: flex;
	flex-direction: row;
  margin: 0;
  background-color: var;
  list-style: none;
}

/* Display list items side by side */

#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
  color: var(--primary-color);
  content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  color: var(--primary-color);
  text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color: var(--p-color-dark);
  text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
  height: 40vh;
  background-color: var(--s-color-dark);
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  align-items: flex-start;
  background-color: var(--primary-color);
}

.filter-options h2 {
  width: 100%;
  color: var(--s-color-light);
}

.filter-options select {
  width: 40vw;
  background-color: var(--s-color-dark);
  color: var(--p-color-dark);
}

/* ====================== Restaurant Listing ====================== */

.restaurants-list {
  display: grid;
  grid-gap: 2vw;
  padding: 0;
  background-color: var(--secondary-color);
  list-style: outside none none;
}

.restaurants-list li {
  border: 2px solid var(--s-color-dark);
  background-color: var(--secondary-color);
}

.restaurants-list,
.restaurant-img {
  width: 100%;
}

.restaurants-list li h1 {
  color: var(--primary-color);
  text-transform: uppercase;
}

.restaurants-list p {
  margin: 0;
}

.restaurants-list li a {
  padding: 0 30vw;
  border-bottom: 3px solid var(--p-color-dark);
  background-color: var(--p-color-light);
  color: var(--s-color-light);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside .map-container {
  height: 40vh;
  background: blue none repeat scroll 0 0;
}

.inside #map {
  height: 100%;
  background-color: #ccc;
}

#restaurant-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#restaurant-name {
  color: var(--p-color-dark);
}

#restaurant-img {
	border-radius: 10% 0;
}

#restaurant-address {
}

#restaurant-cuisine {
	min-width: 100%;
  background-color: #333;
  color: #dbdbdb;
}

#restaurant-container,
#reviews-container {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #d9d9d9;
}

#reviews-container {
display: flex;
flex-direction: column;
}

#reviews-container h2 {
  color: #f58500;
}

#reviews-list {
  margin: 0;
}

.date,
.name,
.rating {
	width: 43vw;
	margin: 0;
	border: 0;
	background-color: #333;
	color: #dbdbdb;
}
#reviews-list ul {
	display: grid;
}
#reviews-list li {
  margin: 0;
  overflow: hidden;
  border: 2px solid #f3f3f3;
	border-radius: 10% 0;
  background-color: #fff;
  list-style-type: none;
}

#restaurant-hours td {
  color: #666;
}
