@charset "utf-8";
/* CSS Document */

:root {
  --gun-powder: #424457; /*this background allows for more ARIA compliant font combinations */
  --wisp-pink: #FCE4E8;
}

body,
td,
th,
p {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
	padding: 0;
  background-color: #fdfdfd;
}

ul, li {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--wisp-pink);
  text-decoration: none;
}

a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0 #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#maincontent {
  min-height: 100%;
  background-color: #f3f3f3;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #444;
  color: #dbdbdb; /* changed to meet WCAG AAA ratio */
  letter-spacing: 1vw;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
.page-header {
  height: 5vh;
  background-color: var(--gun-powder);
	color: #fff;
	font-weight: 200;
  font-size: 1.250em;
	letter-spacing: 1vw;
  text-align: center;
	text-transform: uppercase;
}

#breadcrumb {
	display: flex;
	flex-direction: row;
  margin: 0;
  background-color: var;
  list-style: none;
}

/* Display list items side by side */

#breadcrumb li {
  /* display: inline; */
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
  color: var(--gun-powder);
  content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  color: var(--gun-powder);
  text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
  height: 40vh;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--gun-powder);
}

.filter-options h2 {
  color: var(--wisp-pink);
  /* font-size: 1.125em; */
  /* font-weight: normal; */
  /* line-height: 1; */
  font: normal 1.125em/1.5 Arial, sans-serif;
}

.filter-options select {
  border: 1px solid #fff;
  background-color: white;
  font-family: Arial, sans-serif;
  letter-spacing: 0;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  display: grid;
  grid-gap: 2vw;
  padding: 0;
  background-color: #f3f3f3;
  list-style: outside none none;
  text-align: center;
}

#restaurants-list li {
  border: 2px solid #ccc;
  background-color: #fff;
  font-family: Arial, sans-serif;
  text-align: left;
}

#restaurants-list .restaurant-img {
  width: 100%;
}

#restaurants-list li h1 {
  color: var(--wisp-pink);
  font-family: Arial, sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
}

#restaurants-list li a {
  border-bottom: 3px solid #eee;
  background-color: orange;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside #map-container {
  height: 40vh;
  background: blue none repeat scroll 0 0;
}

.inside #map {
  height: 100%;
  background-color: #ccc;
}

#restaurant-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

#restaurant-img {
	border-radius: 10% 0;
}

#restaurant-address {
}

#restaurant-cuisine {
  background-color: #333;
  color: #dbdbdb;
  font-weight: 300;
  letter-spacing: 1vw;
  text-align: center;
  text-transform: uppercase;
	min-width: 100%;
}

#restaurant-container,
#reviews-container {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #d9d9d9;
}

#reviews-container {
display: flex;
flex-direction: column;
}

#reviews-container h2 {
  color: #f58500;
  font-weight: 300;
}

#reviews-list {
  margin: 0;
}

.date,
.name,
.rating {
	background-color: #333;
	color: #dbdbdb;
	width: 43vw;
	margin: 0;
	border: 0;
}
#reviews-list ul {
	display: grid;
}
#reviews-list li {
  margin: 0;
	border-radius: 10% 0;
  overflow: hidden;
  border: 2px solid #f3f3f3;
  background-color: #fff;
  list-style-type: none;
}

#restaurant-hours td {
  color: #666;
}
